.row {
  width: 100%;
}

.panel {
  display: inline-block;
  position: relative;
  float: left;
  transition: all 0.5s;
  padding: 0 5px;
  width: 50%;
  overflow-y: hidden;
  box-sizing: border-box;

  &.showAll {}
}

.showMore {
  position: absolute;
  bottom: 0;
}
